@use 'common'

*
	box-sizing: border-box

:root
	--common-spacing: 5rem
	--common-container-size-default: 56.25rem
	--edge-gap: 1.875rem

	@media (min-width: 48rem)
		--common-spacing: 10rem

html, body
	padding: 0
	margin: 0
	font-family: common.$font-body

html
	overflow-y: scroll

body

	@media (min-width: 48rem)
		font-size: 1.25rem

h1, h2, h3, h4, h5, h6
	font-family: common.$font-title
	font-weight: 700

p
	font-family: common.$font-body
	font-weight: 500
