@use 'common'

.wrapper
	padding-block: 1.25rem

.main
	max-width: 31.25rem
	margin-inline: auto

.title
	margin-top: 0
	text-align: center

.in
	display: flex
	justify-content: space-between

.icon
	display: flex
	justify-content: center
	margin-bottom: 0.625rem

	&Svg
		width: 4.375rem
		height: 4.375rem

	&Text
		text-align: center
		margin-block: 0
