@use 'common'

.wrapper
	padding-block: 1.25rem

.main
	max-width: 37.5rem
	margin-inline: auto
	text-align: center

.icon
	display: flex
	justify-content: center
	margin-bottom: 0.625rem

	&Svg
		width: 9.375rem
		height: 9.375rem

.text
	line-height: 1.5

	@media (min-width: 48rem)
		font-size: 1.875rem

.is_mobile
	@media not all and (min-width: 30rem)
		display: block
