.wrapper
	max-width: 31.25rem
	margin: 0 auto
	padding: 1rem

.group
	width: 100%
	display: flex
	gap: 1.25rem

.label
	flex-basis: 100%
	&Radio
		//

.input
	width: 100%
	&Radio
		//

.textarea
	width: 100%

.submit
	display: inline-block
