@use 'common'

.wrapper
	height: 100svh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	text-align: center
	gap: 1.875rem
	padding-top: 7svh
	z-index: 0

.title
	max-width: 37.5rem
	font-size: 4.375rem
	padding-inline: var(--edge-gap)
	margin-block: 0 1.875rem
	font-family: common.$font-freestyleScript
	line-height: 0.8

	@media (min-width: 30rem)
		font-size: 5.625rem

	@media (min-width: 48rem)
		font-size: 7.625rem

.hashtag
	font-size: 2.5rem
	font-family: common.$font-freestyleScript
	margin-block: 0 1.25rem

.background
	position: absolute
	width: 100%
	height: 100%
	background-color: common.$color-beige
	inset: 0
	z-index: 0
	overflow: hidden

	&::after
		content: ''
		position: absolute
		inset: 0
		background: rgba(0, 0, 0, 0.5)
		z-index: 1

.image
	display: flex
	object-fit: cover

	@media (prefers-reduced-motion: no-preference)
		animation: scaleImage 20s infinite alternate

		@keyframes scaleImage
			0%
				transform: scale(1)

			50%
				transform: scale(1.05)

			100%
				transform: scale(1)

.content
	height: 100%
	position: relative
	color: #FFFFFF
	z-index: 1
	display: flex
	flex-direction: column
	justify-content: space-between
