@use 'common'

.wrapper
	background-color: common.$color-brown
	padding-block: common.$insideBlockSpacing
	color: white

.title
	margin-block: 0 3.125rem
	text-align: center

.image
	display: flex
	justify-content: center
	margin-bottom: 3.125rem

	@media (prefers-reduced-motion: no-preference)
		opacity: 0
		visibility: hidden
		transform: translateX(-20vh)
		transition-property: transform, opacity, visibility
		transition-duration: 1.5s

		&.is_inView
			opacity: 1
			visibility: initial
			transform: translateX(0)

	&In
		//

.text
	max-width: 37.5rem
	margin-inline: auto
	margin-bottom: 0
	text-align: center

	&:not(:first-child)
		margin-top: 1.25rem
